.privacy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
}

.clickable-link {
    cursor: pointer;
    color: #0366d6; /* a softer blue */
    text-decoration: underline;
    margin-bottom: 8px;
    filter: saturate(70%); /* reduce saturation to 70% */
    transition: color 0.3s ease; /* add a smooth color transition */
}

.clickable-link:hover {
    color: #025aa5; /* a slightly darker blue on hover */
}
