header {
  display: inline-flex;
  width: 100%;
  background-color:#092635;
  justify-content: space-around;
  padding: 10px 0;
  color:antiquewhite;
  .pageLinks {
    a {
      padding-left: 20px;
      text-decoration: none;
      color: antiquewhite
    }
    a:hover, a:active {
      color: antiquewhite;
    }
  }
}

footer{
  /* display: flex;
  margin-top: auto; */
  display: inline-flex;
  /* position: fixed; */
  padding: 20px 0 10px 0;
  justify-content: space-around;
  background-color: #092635;
  color:antiquewhite;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  z-index: 101;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that the container takes at least the viewport height */
}
.app-ul {
  list-style: none;
  padding: 0;
}
.row {
  display: flex;
  flex-direction: row;
  li {
    padding: 0 5px;
    img {
      max-width: 20px;
    }
  }
}
.content {
  flex-grow: 1; 
}
.a {
  height: 200vh;
}

.intro {
  display: flex;
  flex-direction: row !important;
  .partition {
    display: flex;
    width: 45%;
    font-size: 20px;
    padding: 20px;
    justify-content: center;
  }
  img {
    width: 45%;
  }
}

.module {
  display: flex;
  flex-direction: column;
  width: 100%-20px;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.secondary {
  background-color: #1B4242;
}

.cert {

}

.returnToTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #9EC8B9;
  padding: 20px 0;
}

.merch-grid {
  display: grid;
  width: 50%;
  padding: 30px 25% ;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.merch {
  border: #092635 1px solid;
  border-radius: 5px;
  background-color: #204b4b;
  color: antiquewhite;
  box-shadow: 5px 5px 20px #092635;
  transition-duration: 200ms;
  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .title {
    padding: 10px 10px 0px 10px;
    font-size: 26px;
    font-weight: bold;
  }
  .description {
    padding: 0 10px 10px 10px;
    font-size: 16px;
  }
}
.merch:hover {
  transition-duration: 200ms;
  background-color: #1B4242;
  transform: scale(1.009);
}

.contactme {
  .letsTalk {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 40px;
    font-weight: bold;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    .doubleContainer {
      position: relative;
      top: -20px;
      width: 40%;
      background-color: #9EC8B9;
    }
  }
}

.accordion {
  position: relative;
  left: -10px;
  width: 90%;
  padding: 4px 20px;
  border-bottom: #092635 1px solid;
  margin: 4px 0;
  background-color: #8cafa3;
  .questionContainer {
  }
  .answerContainer {

  }
}